*~
*.orig
*.hdf5
*.pdf
_*.so
*.swp
*.pyc
*.egg
.DS_Store
logs
*.db
.installed.cfg
parts
develop-eggs
bin
eggs
downloads
lib
*.egg-info
.mr.developer.cfg
src
sphinx
.project
.pydevproject
.settings
submitted.sql3
