include README.rst bootstrap-buildout.py buildout.cfg develop.cfg COPYING requirements.txt version.txt
recursive-include doc doc/plot doc/img *.py *.rst *.png *.ico
recursive-include bob/ip/facedetect *.cpp *.h
recursive-include bob/ip/facedetect/data *.jpg *.pos *.hdf5 *.png *.pb
include bob/ip/facedetect/MCT_cascade.hdf5
recursive-include bob/learn/boosting *.h *.cpp
recursive-include bob/learn/boosting/data *.hdf5 *.tar.bz2
recursive-include bob/ip/flandmark/ *.h *.cpp
recursive-include bob/ip/flandmark/data *.dat *.jpg
